.progress-bar-container {
  width: 100%;
  height: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.progress-bar {
  height: 100%;
  background-color: #0289d1;
  transition: width 0.3s ease;
}
